:root{
  --error: #e7195a;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(204, 204, 204); /* Set your desired background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Navbar*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

.nav-left {
  flex: 1; /* Use remaining space */
  text-align: center;
}

.nav-left h1 {
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
}

.user-info {
  margin-right: 10px;
}

.nav-right button {
  padding: 8px 12px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.nav-right button:hover {
  background-color: #ddd;
}


/* login and createUser forms */
.login, .createUser {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/*admin page*/

.tabs-container {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
}

.tab-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px; /* Adjust the margin to bring buttons closer together */
}

.tab-content {
  padding: 20px;
}

/* user details component */
.user-details-container {
  display: grid;
  place-items: center;
  height: 70vh; /* Set to 100% of the viewport height */
}

.user-details {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px; /* Adjust padding to reduce space */
  margin: auto;
  transition: transform 0.3s ease-in-out;
  max-width: 400px; /* Set your desired maximum width */
  width: 100%;
  margin-bottom: 10px; /* Adjust margin to reduce space between components */
}

.user-details:hover {
  transform: scale(1.02);
}

.user-details span {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px; /* Adjust margin to reduce space */
}

.user-details p {
  margin: 0;
  color: #555;
}

.user-details p:first-child {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 3px; /* Adjust margin to reduce space */
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.deleteButton:hover {
  background-color: #c82333;
}

input.error{
  border: 1px solid var(--error);
}